.panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    padding: 24px;
}

.panel.visible {
    right: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.closeButton {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    align-self: flex-end;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(71, 71, 71);
    color: #fff;
    cursor: pointer;
    font-family: 'Georgia', serif;
}

.closeButton:hover {
    background-color: #323232;
    /* slightly darker on hover */
    transform: translateY(-1px);
    /* subtle lift effect */
}

.closeButton:active {
    background-color: #151515;
    /* slightly darker on hover */
    transform: translateY(-1px);
    /* subtle lift effect */
}


a.pill {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease, transform 0.1s ease;
    align-self: flex-end;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: #8b5cf6;
    color: #fff;
    cursor: pointer;
}

a.pill:hover {
    background-color: #692cd4;
    /* slightly darker on hover */
    transform: translateY(-1px);
    /* subtle lift effect */
}

a.pill:active {
    background-color: #5822b0;
    /* darker when clicked */
    transform: translateY(0);
}