/* index.css */

/* Typography */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/* Buttons */
.button {
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}